<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaxGuru: {% block title %}   {% endblock %} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <div class="logo">TaxGuru</div>
        <div class="links">
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/calc">Calculator</a></li>
                <li><a href="/learn">Learn About Tax</a></li>
            </ul>
        </div>
    </nav>
    {% block main %}
        
    {% endblock %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
